.main-view
  .detail-show
    .left-content
    .right-content
      .top-content
        .item-detail
          %h2.item-detail__item-name
            = @item.name
          .item-detail__body
            = render partial: "item_detail"
          .item-detail__price
            .item-detail__price__money
              %span 
                = "#{@item.price} 円"
            .item-detail__price__detail
              %span （税込）
              %span 送料込み
          .item-detail__text
            = @item.description
          %table
            %tbody
              %tr
                %th 出品者
                %td 
                  = @saler.nick_name
              %tr
                %th カテゴリー
                %td
                  = link_to @category.root.name
                  %br/
                  = link_to @category.parent.name
                  %br/
                  = link_to @category.name
                  %br/
              %tr
                %th ブランド
                %td
                  -if @item.brand_id.present?
                    = @brand.name
              %tr
                %th 商品の状態
                %td 
                  = @item.condition
              %tr
                %th 配送料の負担
                %td
                  = @item.derivery_charge
              %tr
                %th 発送元の地域
                %td
                  = Prefecture.find(@item.prefecture_id).name
              %tr
                %th 発送日の目安
                %td
                  = @item.days

          .option_area
            %ul
              %li.option_area__btn--like
                %i.fa.fa-ster
                お気に入り 0
            %ul.option
              %li.option_area__btn--bad
                %i.fa.fa-flag
                = link_to "不適切な商品の通報","#"

          .purchase-box
            - if @item.buyer_id.present? 
              -# %button.purchase-box__btn2(disabled= "")SOLD OUT
              = link_to "売り切れました",root_path,class:"purchase-box__btn2"

            - if user_signed_in? && current_user.id !=@item.saler_id && @item.buyer_id.blank?
              = link_to "購入画面へ",item_purchase_index_path(@item),class:"purchase-box__btn"

          .item-link
            .item-link__btn
            - if user_signed_in? && current_user.id ==@item.saler_id && @item.buyer_id.blank? 
              = link_to "削除", item_path(@item.id), method: :delete,class:"item-link__btn__delete",data: { confirm: "本当に削除しますか？" }
              = link_to "編集", edit_item_path(@item.id),class:"item-link__btn__edit"
            - if user_signed_in? && current_user.id ==@item.saler_id && @item.buyer_id.present? 
              = link_to "削除", item_path(@item.id), method: :delete,class:"item-link__btn__delete",data: { confirm: "本当に削除しますか？" }
        .comment-area
          %h3 
            %b
              コメント一覧
          .comment-area__list
            - if @comments
              - @comments.each do |comment|
                %p
                  %strong
                    = "#{comment.user.nick_name}:"
                  = comment.text
        .comment-area
          .comment-contents
          = form_with(model: [@item, @comment], local: true) do |f|
            =f.text_area :text, class: "comment", cols: "50", rows: "6", placeholder: "コメントを記入してください\n相手のことを考え丁寧なコメントを心がけましよう。\n不快な言葉遣いなどは利用制限や退会処分となることがあります。"
            = f.submit "投稿", class: "btn"  
        %ul.pagelink
          %li
            %span 
              = link_to "前の商品","#"
          %li
            %span 
              = link_to "後ろの商品","#"
        %span.see_more
          = link_to "選択したカテゴリをもっと見る","#"


