.main_view
  .detail_show
    .left_content
    .right_content
      .top_content
        .item_detail
          %h2.item_detail__item_name
            = @item.name
          .item_detail__body
            = render partial: "item_detail"
          .item_detail__price
            .item_detail__price__price--money
              %span 
                = "#{@item.price} 円"
            .item_detail__price__price--detail
              %span （税込）
              %span 送料込み
          .item_detail__name--detail
            = @item.name
          = link_to item_purchase_index_path(@item) do
            %spn 購入画面へ
          .item_detail__name--detail
            = link_to edit_item_path(@item) do
              %spn 編集
          .item_detail__name--detail
            = link_to "削除",item_path(@item),method: :delete,data: { confirm: "本当に削除しますか？" }
          %table
            %tbody
              %tr
                %th 出品者

                %td 
                  = @saler.nick_name
              %tr
                %th カテゴリー
                %td
                  = link_to @category.root.name
                  %br/
                  = link_to @category.parent.name
                  %br/
                  = link_to @category.name
                  %br/
              %tr
                %th ブランド
                %td
                  -if @item.brand_id.present?
                    = @brand.name
              %tr
                %th 商品の状態
                %td 
                  = @item.condition
              %tr
                %th 配送料の負担
                %td
                  = @item.derivery_charge
              %tr
                %th 発送元の地域
                %td
                  = Prefecture.find(@item.prefecture_id).name
              %tr
                %th 発送日の目安
                %td
                  = @item.days
          .option_area
            %ul
              %li.option_area__btn--like
                %i.fa.fa-ster
                お気に入り 0
            %ul.option
              %li.option_area__btn--bad
                %i.fa.fa-flag
                = link_to "不適切な商品の通報","#"
        .comment_area
          %ul.comment_contents
          .form
            %textarea(name="comment" cols="81" rows="8")
            %p.note_msg
              相手のことを考え丁寧なコメントを心がけましよう。
              %br/
              不快な言葉遣いなどは利用制限や退会処分となることがあります。
              -# %input(type="submit")
        %ul.pagelink
          %li
            %span 
              = link_to "前の商品","#"
          %li
            %span 
              = link_to "後ろの商品","#"
        %span.see_more
          = link_to "選択したカテゴリをもっと見る","#"
