.pickup-lists
  -@items.each do |item|
    .pickup-list
      = link_to image_tag(item.images[0].image.url, class: "pickup-list--image"), item_path(item.id)
      .pickup-list--body
        %h3.name
        = item.name
        .details
          %ul
            %li
              = "#{item.price}円"
              %p (税込)
            %li
              = icon('fa','star',class: 'icon') do
                = render "bookmark"
              
          -if item.buyer_id.present? 
            .items-box_photo__sold
              .items-box_photo__sold__inner
                SOLD

