.pickup
  .pickup-head
    ピックアップカテゴリ
  .pickup-boxs
    .pickup-box__title
      = link_to '新規投稿登録'
    .pickup-lists
      -@items.each do |item|
        .pickup-list
          = link_to image_tag(item.images[0].image.url, class: "pickup-list--image"), item_path(item.id)
          .pickup-list--body
            %h3.name
            = item.name
            .details
              %ul
                %li
                  = "#{item.price}円"
                %li
                  = icon('fa','star',class: 'icon')
                  0
              %p (税込)
      -# .pickup-list
      -#   .pickup-list--image
      -#     商品詳細のリンク
      -#   .pickup-list--body
      -#     %h3.name 見本
      -#     .details
      -#       %ul
      -#         %li 30000円
      -#         %li
      -#           = icon('fa','star',class: 'icon')
      -#           0
      -#       %p (税込)
      -# .pickup-list
      -#   .pickup-list--image
      -#     商品詳細のリンク
      -#   .pickup-list--body
      -#     %h3.name 見本
      -#     .details
      -#       %ul
      -#         %li 30000円
      -#         %li
      -#           = icon('fa','star',class: 'icon')
      -#           0
      -#       %p (税込)


.pickup
  .pickup-head
    ピックアップブランド
  .pickup-box
    .pickup-box__title
      = link_to 'アーカイバ'
    .pickup-lists
      .pickup-list
        .pickup-list--image
          商品詳細のリンク
        .pickup-list--body
          %h3.name 見本
          .details
            %ul
              %li 30000円
              %li
                = icon('fa', 'star',class: 'icon')
                0
            %p (税込)
      .pickup-list
        .pickup-list--image
          商品詳細のリンク
        .pickup-list--body
          %h3.name 見本
          .details
            %ul
              %li 30000円
              %li
                = icon('fa','star',class: 'icon')
                0
            %p (税込)
      .pickup-list
        .pickup-list--image
          商品詳細のリンク
        .pickup-list--body
          %h3.name 見本
          .details
            %ul
              %li 30000円
              %li
                = icon('fa','star',class: 'icon')
                0
            %p (税込)
  = link_to new_item_path do
    .exhibition-btn
      .exhibition-btn__text
        出品する
        .image
