.pickup
  .pickup-head
    ピックアップカテゴリ
  .pickup-boxs
    .pickup-box__title
      = link_to '新着順' 
    .pickup-lists

      = render "pickup-list"


.pickup
  .pickup-head
    ピックアップブランド
  .pickup-box
    .pickup-box__title
      = link_to 'アーカイバ'
    .pickup-lists

      = render "pickup-list"

  = render 'buy-btn'

